/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  padding: 50px;
  font: 14px Nunito, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.list-group-item{
  border: none;
}
